@import 'Styles/mediaQueries.css';
@import 'Styles/fonts.css';
@import 'Styles/variables.css';
@import 'Styles/layouts.css';


.splash-layout {
  /* what is its layout? (parent-child) */
  @include mobile-layout;

  /* what does it look like? */
  background-image: $dark-gradient-background;

  /* update form-factor */
  @include for-tablet-portrait-up {
    /* what is it's layout? */
    @include desktop-layout;
  }
}

.hero-block {
  /* what is its layout (container-component)? */
  grid-column: 2 / 8;
  /* what is its layout (component-element)? */
  display: flex;
  flex-flow: column nowrap;
  /* spacing regardless of what follows */
  margin-bottom: 5rem;

  /* update form-factor */
  @include for-tablet-portrait-up {
    /* what is its layout (container-component)? */
    grid-column: 2 / 8;
    /* spacing regardless of what follows */
    margin-bottom: 5rem;
  }

  .title, .location {
    /* what does it look like? */
    @include font-bold;
    /* what is its layout? (element) */
    text-align: center;
  }

  .logo {
    /* what is its layout? (element) */
    margin: 8.2rem auto;

    /* update form-factor */
    @include for-tablet-portrait-up {
      /* what is its layout? (element) */
      margin: 11.7rem auto;
    }
  }
}

.navBlock {
  // what is its layout (container-component)?
  grid-column: 3 / 7;

  // update form-factor
  @include for-desktop-up {
    /* what is its layout (container-component)? */
    grid-column: 4 / 6;
  }

  .navList {
    // what is its layout? (component-element)
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    // what does it look like?
    list-style: none;

    // update form-factor
    @include for-desktop-up {
      // what is its layout? (element)
      justify-content: space-around;
    }

    .listItem {
      > a {
        // what does it look like?
        @include font-bold;
        font-size: 2.4rem;
        line-height: 2.9rem;
        letter-spacing: 0.10rem;
      }
      > a:link, a:visited { // behavioral
        // what does it look like?
        text-decoration: none;
        color: #B5DFF9;
      }
    }

    .listItem:first-child {
      /* what is its layout? (element) */
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 1.5rem;

      > a {
        /* what does it look like */
        font-size: 3rem;
      }
    }
  }
}
