@import 'Styles/mediaQueries.css';
@import 'Styles/fonts.css';
@import 'Styles/variables.css';
@import 'Styles/layouts.css';


.partnership-layout {
  /* where does it go? */
  /* where is it positioned? */
  @include mobile-layout;
  /* what does it look like? */
  background-color: $light-background;

  /* update form-factor */
  @include for-tablet-portrait-up {
    /* where does it go? */
    /* where is it positioned? */
    @include desktop-layout;
  }
}

.form-block {
  /* where is it positioned? */
  grid-column: 2 / 8;

  .form-title {
    // what does it look like?
    @include font-bold;
    // spacing regardless of what follows
    margin-bottom: 3rem;
  }
  .form-subtitle {
    display: block;
    @include font-medium;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  .partnership-form {
    display: flex;
    flex-flow: column nowrap;
    padding: 30px 15px 40px;

    border-radius: 10px;
    background-color: $dark-background;

    .inputFields > div:first-child {
      margin-top: 0;
    }

    .checkbox-fields {
      margin-top: 2rem;

      legend {
        @include font-light;
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin-bottom: 2rem;
      }

      .checkboxList {
        display: flex;
        flex-flow: column nowrap;
      }
    }

    .form-button {
      align-self: center;
    }
  }
}
