@import 'Styles/mediaQueries.css';
@import 'Styles/fonts.css';
@import 'Styles/variables.css';
@import 'Styles/layouts.css';


.section-layout {
  /* where does it go? */
  /* where is it positioned? */
  @include mobile-layout;
  /* what does it look like? */
  background-color: $light-background;

  /* update form-factor */
  @include for-tablet-portrait-up {
    /* where does it go? */
    /* where is it positioned? */
    @include desktop-layout;
  }
}

.section-block {
  /* where is it positioned? */
  grid-column: 2 / 8;

  .section-title {
    // what does it look like?
    @include font-bold;
    // spacing regardless of what follows
    margin-bottom: 3rem;
  }
  .section-subtitle {
    display: block;
    @include font-medium;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  .partnership-form {
    display: flex;
    flex-flow: column nowrap;
    padding: 30px 15px 40px;

    border-radius: 10px;
    background-color: $dark-background;

    .input-fields > div:first-child {
      margin-top: 0;
    }

    .checkbox-fields {
      margin-top: 2rem;
      margin-bottom: 4rem;

      legend {
        // what does it look like?
        @include font-light;
        font-size: 2.4rem;
        line-height: 2.9rem;

        // spacing regardless of what follows
        margin-bottom: 2rem;
      }

      .checkboxList {
        // where is it positioned?
        display: flex;
        flex-flow: column nowrap;
      }
    }

    .form-button {
      // what does it look like?
      width: 100%;
      padding: 0 2rem;

      // where is it positioned?
      text-align: center;
    }
  }
}
