/* Given Form-Factor
  LAYOUTS
  -- where does it go? (grid, flex, float)
  -- where is it positioned? (top/center/bottom)
*/
$mobile-grid: 1fr 1fr 2fr 4fr 4fr 2fr 1fr 1fr;
$desktop-grid: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;


/* BACKGROUND
  -- what does it look like?
*/
$dark-gradient-background: radial-gradient(closest-side, #113E6D 50%, #071D3B 100%);
$dark-background: #163155;
$light-background: #104287;


/* COLORS
  -- what does it look like?
*/
$dark-blue: #061933;
$bold-blue: #163155;
$semibold-blue: #104287;
$blue: #1861C7;
$cream-blue: #B5DFF9;
$white: #D8D8D8

