@import 'Styles/mediaQueries.css';
@import 'Styles/fonts.css';
@import 'Styles/variables.css';
@import 'Styles/layouts.css';


.section-layout {
  /* where does it go? */
  /* where is it positioned? */
  @include mobile-layout;
  /* what does it look like? */
  background-color: $dark-background;

  /* update form-factor */
  @include for-tablet-portrait-up {
    /* where does it go? */
    /* where is it positioned? */
    @include desktop-layout;
  }
}

.section-block {
  /* where is it positioned? */
  grid-column: 2 / 8;

  .section-title {
    // what does it look like?
    @include font-bold;
    // spacing regardless of what follows
    margin-bottom: 3rem;
  }
  .section-subtitle {
    display: block;
    @include font-medium;
    font-size: 1.6rem;
    margin-bottom: 5rem;
  }

  .join-form {
    display: flex;
    flex-flow: column nowrap;

    input {
      height: 5rem;
      padding-left: 1rem;
      @include font-semiBold;
      color: $dark-blue;

      border: none;
      background: $white;
      width: 100%;
    }
  }
}

.cta {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 7rem;

  .cta-text { // should be the same as form-subtitle above
    display: block;
    @include font-medium;
    font-size: 1.6rem;
    margin-bottom: 5rem;
  }

  > a {
    align-self: center;
  }
}
